<!DOCTYPE html>
<html lang="en">
<head>
    <title>Devblog</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel ="stylesheet" href = "../../public/css/style.css">
    <title>Document</title>
</head>

<body>
    <ul class = "nav">
        <li class ="active">
            <a href ="/">Home</a>
            <a href ="/login"> Login</a>
        </li>
    </ul>

    <main>
        {{{ body }}} <!--this will render the specific handlebars page based off of the logic in the route --> 
    </main>
</body>
<script src="/js/login.js"></script> <!--if this doesn't work, try different src path-->
<script src="/js/signup.js"></script>
</html>