<div>
    {{#each posts as |post|}}
        <a href= "/post/{{post.id}}">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{post.id}}</h5>
                    <p class="card-text">{{post.title}}</p>
                    <p class="card-text">{{post.content}}</p>
                    <a href="#" class="btn btn-primary">Test</a>
                </div>
            </div>
        </a>
    {{/each}}

    
</div>

