<div class = login-form-card>
    <div class = elements-card>
        <div class = username-card>
            <input type="text" placeholder = "Enter your username" name="name" id="name" required> 
        </div>
        <div class = password-card>
            <input type="text" placeholder = "Enter your password" name="password" id="password" required> 
        </div>
        <div class = login-button-card>
            <input type="submit" value="Login">
    
        </div>
    </div>
</div>