<div class = "signup-form-card">
    <div class = "elements-card">
        <div class = "username-card">
            <input type="text" placeholder = "Enter a username" name="name" id="name" required> 
        </div>
        <div class = "password-card">
            <input type="text" placeholder = "Enter a password" name="password" id="password" required> 
        </div>
        <div class = "signup-button-card">
            <input type="submit" value="Sign up" id = "signup">
    
        </div>
    </div>
</div>